<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="cat $(find waymaster_v1)/description/robotv1.urdf"/>

    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node> -->
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args="use_sim_time:=true"/>
    <!-- <param name="use_sim_time" value="true"/> -->
    
    
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/> -->

    <node name="rviz" pkg="rviz" type="rviz" output="screen"/>
    <!-- <include file="$(find waymaster_v1)/launch/gazebo.launch">
    </include>
    
    <node name="gazebo_ros" pkg="gazebo_ros" type="spawn_model" args="-file /home/johanth/waymaster_v1/src/waymaster_v1/description/robotv1.urdf -urdf -x 0 -y 0 -z 0 -model waymaster" output="screen"/> -->
    
    <node name="ros_serial" pkg="rosserial_python" type="serial_node.py" args="port:=/dev/ttyUSB0" />
</launch>